.home-target {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.greeting-scrpt {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}
.w-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1700px;
    margin-top: 300px;
    margin-left: 20px;
    overflow-x: scroll;
  
    /* Width and height of the scrollbar */
    scrollbar-width: thin;
     /* For Firefox */
    scrollbar-color: #888 #f1f1f1; /* For Firefox */
  
    /* Width and height of the scrollbar for WebKit browsers (Chrome, Safari, etc.) */
    &::-webkit-scrollbar {
      width: 12px;
    }
  
    /* Track (the area on the sides of the scrollbar) */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
  
    /* Handle (the draggable part of the scrollbar) */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
  
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  
.temp {
    font-size: 40px;
}
  
.b-data {
    border: 1px solid grey;
    color: aliceblue;
    background-color: rgb(0, 106, 255);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    width: 130px;
    height: 400px;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
}

.w-image {
    height: 130px;
    width: 130px;
    margin-top: 10px;
}

body {
    background-image: url(./IMG_3402.PNG);
    background-size:auto;
    background-repeat: no-repeat;
}
